<header class="navbar navbar-expand-md navbar-light bg-light bg-gradient border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">{{ site.data.bio.basics.name }}</a>
    <div class="ms-auto">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <a class="nav-link" href="{{ '/#papers' | prepend: site.baseurl }}">Papers</a>
        <a class="nav-link" href="{{ '/#projects' | prepend: site.baseurl }}">Projects</a>
        <a class="nav-link" href="{{ '/about-me.html' | prepend: site.baseurl }}">About</a>
        <a class="nav-link" href="{{ '/resources/Amberg_Johnson_Katherine_CV.pdf' | prepend: site.baseurl }}">CV</a>
      </ul>
    </div>
  </div>
</header>
