<div style="background-color: var(--tf-papers-bg-color)" class="bg-gradient py-3" id="papers">
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-6">
        <h1 class="display-4 text-start">Papers</h1>
      </div>
    </div>

    <div class="row g-3">
      {% assign paper_pages = site.pages | where: "type", "paper" | sort: "date" | reverse %}
      {% for page in paper_pages %}
        {% unless page.draft %}
          {% include papers/paper-card.html page=page %}
        {% endunless %}
        {% if forloop.index == include.limit %}
          {% break %}
        {% endif %}
      {% endfor %}
    </div>

    {% if paper_pages.size > include.limit %}
      <p class="text-center pt-4"><a href="{{ site.baseurl}}/papers/">See all {{ paper_pages.size }} papers</a></p>
    {% endif %}

  </div>
</div>
